<h3>Selected Databases</h3>

<ul data-role="listview" data-theme="a" data-filter-theme="a" data-filter="true" data-inset="true" data-filter-placeholder="Search for a Database">
  <li><%= link_to "Academic Search Premier", "http://eresources.library.nd.edu/databases/academicsearch" %></li>
   <li><%= link_to "American Bibliography of Slavic and East European Studies", "http://eresources.library.nd.edu/databases/absees", :target => "_blank" %></li>
   <li><%= link_to "Annual Reviews", "http://eresources.library.nd.edu/ejournals/annualreviews", :target => "_blank" %></li>
   <li><%= link_to "Anthropological Literature", "http://eresources.library.nd.edu/databases/anthrolit", :target => "_blank" %></li>
   <li><%= link_to "Applied Science & Technology Abstracts (H.W. Wilson)", "http://eresources.library.nd.edu/databases/applscitechindex", :target => "_blank" %></li>
   <li><%= link_to "Art Full Text (H.W. Wilson)", "http://eresources.library.nd.edu/databases/artfulltext", :target => "_blank" %></li>
   <li><%= link_to "Art Index Retrospective (H.W. Wilson)", "http://eresources.library.nd.edu/databases/artindexretro", :target => "_blank" %></li>
   <li><%= link_to "ARTstor", "http://proxy.library.nd.edu/login?url=http://mobile.artstor.org", :target => "_blank" %></li>
   <li><%= link_to "arXiv.org", "http://proxy.library.nd.edu/login?url=http://arxiv.org", :target => "_blank" %></li>
   <li><%= link_to "ATLA Catholic Periodical and Literature Index", "http://eresources.library.nd.edu/databases/cpli", :target => "_blank" %></li>
   <li><%= link_to "ATLA Religion Database with ATLASerials", "http://eresources.library.nd.edu/databases/atlareligion", :target => "_blank" %></li>
   <li><%= link_to "Book Review Digest Plus (H.W. Wilson)", "http://eresources.library.nd.edu/databases/bookreviewdigest", :target => "_blank" %></li>
   <li><%= link_to "Business Source Complete", "http://eresources.library.nd.edu/databases/businesssource", :target => "_blank" %></li>
   <li><%= link_to "Cambridge Journals Online", "http://proxy.library.nd.edu/login?url=http://jnls.cup.org/home.do", :target => "_blank" %></li>
   <li><%= link_to "Corporate ResourceNet", "http://eresources.library.nd.edu/databases/corpresource", :target => "_blank" %></li>
   <li><%= link_to "Ebsco eBook Collection", "http://eresources.library.nd.edu/databases/netlibrary", :target => "_blank" %></li>
   <li><%= link_to "EconLit", "http://eresources.library.nd.edu/databases/econlit", :target => "_blank" %></li>
   <li><%= link_to "Education Full Text (H.W. Wilson)", "http://eresources.library.nd.edu/databases/eduabstracts", :target => "_blank" %></li>
   <li><%= link_to "Educational Administration Abstracts", "http://eresources.library.nd.edu/databases/eduadminabstr", :target => "_blank" %></li>
   <li><%= link_to "Emerald", "http://proxy.library.nd.edu/login?url=http://www.emeraldinsight.com/mobile/", :target => "_blank" %></li>
   <li><%= link_to "Encyclopaedia Britannica", "http://proxy.library.nd.edu/login?url=http://m.search.eb.com", :target => "_blank" %></li>
   <li><%= link_to "ERIC", "http://eresources.library.nd.edu/databases/eric", :target => "_blank" %></li>
   <li><%= link_to "Essay and General Literature Index (H.W. Wilson)", "http://eresources.library.nd.edu/databases/essayandgenlit", :target => "_blank" %></li>
   <li><%= link_to "General Science Abstracts", "http://eresources.library.nd.edu/databases/gensciabstracts", :target => "_blank" %></li>
   <li><%= link_to "Google Books", "http://books.google.com", :target => "_blank" %></li>
   <li><%= link_to "Health Source - Consumer Edition", "http://eresources.library.nd.edu/databases/healthsourceconsumer", :target => "_blank" %></li>
   <li><%= link_to "Health Source: Nursing/Academic Edition", "http://eresources.library.nd.edu/databases/healthsourcenursing", :target => "_blank" %></li>
   <li><%= link_to "Historical Abstracts", "http://eresources.library.nd.edu/databases/histabstracts", :target => "_blank" %></li>
   <li><%= link_to "Humanities International Index", "http://eresources.library.nd.edu/databases/humanitiesindex", :target => "_blank" %></li>
   <li><%= link_to "IEEE XPlore", "http://proxy.library.nd.edu/login?url=http://ieeexplore.ieee.org/mobile/", :target => "_blank" %></li>
   <li><%= link_to "International Political Science Abstracts", "http://eresources.library.nd.edu/databases/ipsa", :target => "_blank" %></li>
   <li><%= link_to "JSTOR", "http://proxy.library.nd.edu/login?url=http://mobile.jstor.org/", :target => "_blank" %></li>
   <li><%= link_to "Left Index", "http://eresources.library.nd.edu/databases/leftindex", :target => "_blank" %></li>
   <li><%= link_to "Lexis Nexis", "http://proxy.library.nd.edu/login?url=http://www.lexisnexis.com/hottopics/lnacademic/mobile/", :target => "_blank" %></li>
   <li><%= link_to "Library Literature & Information Science Index (H.W. Wilson)", "http://eresources.library.nd.edu/databases/liblitinfosci", :target => "_blank" %></li>
   <li><%= link_to "Library, Information Science & Technology Abstracts", "http://eresources.library.nd.edu/databases/libinfoscitech", :target => "_blank" %></li>
   <li><%= link_to "McClatchy-Tribune Collection", "http://eresources.library.nd.edu/databases/mcclatcheytribcoll", :target => "_blank" %></li>
   <li><%= link_to "MEDLINE", "http://eresources.library.nd.edu/databases/medline", :target => "_blank" %></li>
   <li><%= link_to "Mental Measurements Yearbook with Tests in Print", "http://eresources.library.nd.edu/databases/mentalmeasurement", :target => "_blank" %></li>
   <li><%= link_to "Military and Government Collection", "http://eresources.library.nd.edu/databases/militarygovcoll", :target => "_blank" %></li>
   <li><%= link_to "Music Catalog -- Library of Congress", "http://eresources.library.nd.edu/databases/musiccatalog", :target => "_blank" %></li>
   <li><%= link_to "Music Index", "http://eresources.library.nd.edu/databases/musicindex", :target => "_blank" %></li>
   <li><%= link_to "New Testament Abstracts", "http://eresources.library.nd.edu/databases/newtestabstr", :target => "_blank" %></li>
   <li><%= link_to "Old Testament Abstracts", "http://eresources.library.nd.edu/databases/oldtestamentabstr", :target => "_blank" %></li>
   <li><%= link_to "Oxford Journals", "http://proxy.library.nd.edu/login?url=http://www.oxfordjournals.org/mobile", :target => "_blank" %></li>
   <li><%= link_to "Oxford Scholarship", "http://proxy.library.nd.edu/login?url=http://m.oxfordscholarship.com", :target => "_blank" %></li>
   <li><%= link_to "Peace Research Abstracts", "http://eresources.library.nd.edu/databases/peaceresearch", :target => "_blank" %></li>
   <li><%= link_to "Philosopher's Index", "http://eresources.library.nd.edu/databases/philoindex", :target => "_blank" %></li>
   <li><%= link_to "Professional Development Collection", "http://eresources.library.nd.edu/databases/professionaldevcoll", :target => "_blank" %></li>
   <li><%= link_to "Project Gutenberg", "http://m.gutenberg.org", :target => "_blank" %></li>
   <li><%= link_to "PsycARTICLES", "http://eresources.library.nd.edu/databases/psycarticles", :target => "_blank" %></li>
   <li><%= link_to "PsychiatryOnline", "http://proxy.library.nd.edu/login?url=http://psychiatryonline.org/mobile/index.aspx", :target => "_blank" %></li>
   <li><%= link_to "PubMed", "http://www.ncbi.nlm.nih.gov/m/pubmed/", :target => "_blank" %></li>
   <li><%= link_to "Readers' Guide Retrospective: 1890-1982 (H.W. Wilson)", "http://eresources.library.nd.edu/databases/readersguideretro", :target => "_blank" %></li>
   <li><%= link_to "RefWorks", "http://proxy.library.nd.edu/login?url=http://www.refworks.com/mobile/", :target => "_blank" %></li>
   <li><%= link_to "Regional Business News", "http://eresources.library.nd.edu/databases/regionbusiness", :target => "_blank" %></li>
   <li><%= link_to "RILM Abstracts of Music Literature", "http://eresources.library.nd.edu/databases/rilm", :target => "_blank" %></li>
   <li><%= link_to "RIPM - Retrospective Index to Music Periodicals", "http://eresources.library.nd.edu/databases/ripm", :target => "_blank" %></li>
   <li><%= link_to "RISM Series A/II: Music Manuscripts after 1600", "http://eresources.library.nd.edu/databases/rism", :target => "_blank" %></li>
   <li><%= link_to "SciFinder Scholar Web", "http://proxy.library.nd.edu/login?url=http://scifinder.cas.org/mobile", :target => "_blank" %></li>
   <li><%= link_to "SPORTDiscus", "http://eresources.library.nd.edu/databases/sportdiscus", :target => "_blank" %></li>
   <li><%= link_to "The Serials Directory", "http://eresources.library.nd.edu/databases/serialsdirectory", :target => "_blank" %></li>
   <li><%= link_to "Web of Knowledge", "http://proxy.library.nd.edu/login?url=http://m.webofknowledge.com", :target => "_blank" %></li>
   <li><%= link_to "WorldCat", "http://worldcatmobile.org", :target => "_blank" %></li>




</ul>

<br />

Problems with Mobile Databases? <a href="feedback.html">Please let us know</a>
