<h3>Mobile Site Feedback</h3>

<%= form_for @message, :url => { :action => "create" } do |form| %>

      <% @message.errors.full_messages.each do |msg| %>
          <div class="field_with_errors"><%= msg %></div>
      <% end %>


    <div data-role="fieldcontain">
        <%= form.text_field :name, :"data-mini"=>"true", :"data-theme"=>"b", :"placeholder"=>"Name" %>
    </div>

    <div data-role="fieldcontain">
        <%= form.text_field :email, :"data-mini"=>"true", :"data-theme"=>"b", :"placeholder"=>"Email" %>
    </div>


    <div data-role="fieldcontain">
        <%= form.text_area :body, :"data-mini"=>"true", :"data-theme"=>"b", :"placeholder"=>"Feedback" %>
    </div>

    <%= form.submit "Send" %>

<% end %>
