<h3>Hours and Locations</h3>
<img src="/assets/gps.png" style="float:left; width:1.5em;"><a href="#popupMap" data-rel="popup">Locations on campus map</a>

<div data-role="popup" id="popupMap" class="photopopup" data-theme="c" data-overlay-theme="a" data-corners="false" data-transition="pop" style='height:100%;'>
  <a href="#" data-rel="back" data-role="button" data-theme="c" data-icon="delete" data-iconpos="notext" class="ui-popup-btn-close ui-btn-right">Close</a>
  <%= image_tag "campus-map.jpg" %>
</div>

<a href="http://map.nd.edu/#/placemarks/1020,1088,1082,1142,1076,1148,1050,1077,1021/zoom/16/lat/41.70109183488674/lon/-86.23889900000002" target="_blank">Locations on ND Maps</a>


<div>
<ul data-role="listview" data-inset="true" data-mini="true" data-theme="a">
  <li><%= link_to "Hesburgh Library", location_path("hesburgh") %></li>
  <li><%= link_to "Architecture Library", location_path("architecture") %></li>
  <li><%= link_to "Mahaffey Business Information Center", location_path("bic") %></li>
  <li><%= link_to "Chemistry/Physics Library", location_path("chemistry") %></li>
  <li><%= link_to "Engineering Library", location_path("engineering") %></li>
  <li><%= link_to "Kellogg Kroc Information Center", location_path("kkic") %></li>
  <li><%= link_to "Timothy O'Meara Mathematics Library", location_path("mathematics") %></li>
  <li><%= link_to "Radiation Chemistry Reading Room", location_path("radlab") %></li>
  <li><%= link_to "Visual Resources Center", location_path("vrc") %></li>
</ul>
</div>


