<!DOCTYPE html>

<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hesburgh Libraries Mobile // University of Notre Dame</title>


  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <%= stylesheet_link_tag "mobile" %>


  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <%= javascript_include_tag "mobile" %>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>



</head>
<body>

<div data-role="page" data-theme="a" <%= (current_page?(:controller => 'home', :action => 'index')) ? "data-add-back-btn=\'false\'" : "data-add-back-btn=\'true\'" %>>

  <div data-role="header">
    <div class="ui-title">

      <%= link_to_unless_current image_tag("header.png", {:class => "hesburgh-header"}), { :action=>"index", :controller=>"home" }, :"data-role"=>"none" %>

    </div>
  </div>

  <div data-role="content" data-theme="a" style="">

    <%= yield %>

  </div>

  <div class="taupe_bg">&nbsp;</div>

<div data-role="footer" class="ui-bar" data-position="inline">
  <%= image_tag "hesburgh_mark.png", {:class => "hesburgh-mark"} %>&nbsp;&nbsp;<%= link_to "Full Site", "http://www.library.nd.edu", { :class=>"ui-link", "data-role"=>"none" } %>  |  <%= link_to "Feedback", { :action=>"new", :controller=>"feedback" }, { :class=>"ui-link", "data-role"=>"none" } %>
</div>


</div>
</body>


</html>
